<div class="course">
  <div class="course__content">
    <div  class="course__content__header">
      <span class="course__content__header__title"> {{course.title}}</span>
      <span class="course__content__header__duration">{{course.duration}}m. </span>
      <span class="course__content__header__creation-date">{{course.creationDate | date}}</span>
    </div>
    <div>
      {{course.description}}
    </div>
  </div>
  <div class="course__buttons">
    <button>Edit</button>
    <button class="course__buttons__delete" (click)="onDelete()">Delete</button>
  </div>
</div>